/* Custom Font */
@font-face {
  font-family: "Gilroy";
  src: url("./src/assets/fonts/Gilroy.otf");
}

/* Universal Values */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

/* Body */
body,
html {
  height: 100%;
  width: 100%;
  background-color: #0f0f0f;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

/* App Component */
.app {
  min-height: 100vh;
  position: relative;
}

/* By Shiva aka @curioushiva :) HOOOOOO , 2.5 months */